<!-- landing/templates/track_request.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Track Request</title>
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
</head>
<body>
    <header>
        <h1>Track Your Request</h1>
    </header>
    <main>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Track Request</button>
        </form>
    </main>
    
</body>
</html>
